.App {
  text-align: center;
  min-height: 100vh;
}

.MuiDataGrid-cell:focus, .MuiDataGrid-cell:active {
  outline: none !important;
}

.MuiDataGrid-cell{
  padding:0 !important;
}

.MuiOutlinedInput-notchedOutline{
  border:none !important;
}